<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>OTP Verification</title>
</head>
<body style="margin: 0; width: 100%; font-family: Arial, sans-serif;">
<div style="max-width: 360px; margin: auto;">
    <div style="padding: 28px 24px 0 24px;">
        <div style="text-align: center; margin-bottom: 28px;">
            <a href="https://www.example.com/">
                <img src="{{.ICON}}" alt="Logo" width="70" style="border: 0;" />
            </a>
        </div>

        <div style="margin-bottom: 28px;">
            <p style="font-size: 14px; line-height: 20px; color: #3D4B66;">
            </p>
        </div>

        <div style="margin-bottom: 28px;">
            <p style="background-color: #2644800F; padding: 24px 0; text-align: center; font-size: 32px; font-weight: bold; color: #3D4B66; letter-spacing: 5px; border-radius: 12px;">
                {{.PIN}}
            </p>
            <p style="font-size: 10px; text-align: center; color: #3344668C;">
                This is your {{.PRODUCT}} verification code. Do not share it.
            </p>
        </div>

        <div style="margin-bottom: 28px;">
            <p style="font-size: 12px; color: #3344668C;">
                Having trouble? Copy and paste the code manually.
            </p>
        </div>
    </div>

    <div style="background-color: #17082F; padding: 24px 24px 0 24px; border-top-left-radius: 20px; border-top-right-radius: 20px;">
        <h3 style="color: #FFFFFF; text-align: center; font-size: 14px;">Didn't request this?</h3>
        <h5 style="color: #FFFFFF; text-align: center; font-size: 12px; font-weight: normal;">
            If you didn't request verification, ignore this email.
        </h5>

        <div style="text-align: center; margin: 20px 0;">
            <a href="https://www.instagram.com/"><img src="https://p.staticcloud.click/instagramIcon.png" style="margin: 0 9px;"></a>
            <a href="https://www.youtube.com/"><img src="https://p.staticcloud.click/youtubeIcon.png" style="margin: 0 9px;"></a>
            <a href="https://www.linkedin.com/"><img src="https://p.staticcloud.click/linkedinIcon.png" style="margin: 0 9px;"></a>
        </div>

        <p style="text-align: center; color: #fff; font-size: 12px;">
            Questions? Contact <a href="mailto:support@example.com" style="color: #00B23C; text-decoration: none;">support@example.com</a>
        </p>
        <p style="text-align: center; color: #fff; font-size: 11px; padding-bottom: 16px;">
            Unit 535, 51 Pinfold Street, B2 4AY, Birmingham
        </p>
    </div>

    <div style="background-color: #34D15B; color: white; text-align: center; padding: 10px 0; font-size: 12px;">
        <a href="https://www.example.com/privacy" style="color: white; text-decoration: none;">Privacy</a> /
        <a href="https://www.example.com/terms" style="color: white; text-decoration: none;">Terms</a> /
        <a href="https://www.example.com/safety" style="color: white; text-decoration: none;">Safety</a>
    </div>
</div>
</body>
</html>
